$font-stack: Helvetica, sans-serif;
$primary-color: #666;
$second-color: #fff;

body {
  font: 100% $font-stack;
  color: $primary-color;

  h1 {
    background-color: $primary-color;
    color: $second-color;
    text-align: center;
  }
}